* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* div.carousel-img.active{
    display: flex;
    justify-content: center;
} */

.carousel-img {
    height: 50vh;
}

img.d-block {
    height: 100%;
}